<body style="background:#fff;"
<p id="notice"><%= notice %></p>
<div id="wrapper-sig" style="margin-bottom:10px;">

<table>
	
 <tr><% if @signature.image_url.present? %> 
  <td > <%=image_tag @signature.image_url  %> </td>
  <%else%>
  <td></td>
  <%end%>
  <td >
   <span id="name"><%=@signature.name%></span><span style="font-size:16px;"> /</span> <span id="position"><%=@signature.position%></span>
  
</br>


   <span class="phone">phone </span><span class="contact"><%=@signature.contact%></span>
   <span style="font-size:13px;"> /</span>
   <span class="phone">skype </span><span class="contact"><%=@signature.skype%></span>

</br>


   <span id="address"><%=@signature.address%></span>
 
</br>

 
	<a href="http://www.zando.co.za" target="_blank" title="Zando">
		<img src="http://apps.zando.co.za/stationary/email/logo-actual-size.png" width="147" height="43" alt="Zando" title="Zando"></a>
 
</br>
</tr>

 </table>
 <table>
 <tr>
   <td >
	<%=@signature.message%>
  </br>
  <a href= '<%= @signature.link %>' style="font-size:13px;" ><%=@signature.link%></a>
  	
 </td>
</tr>
</table>
   
</div>
<hr>
 <div style="margin:10px; margin-right:5px; float:left;"><%= link_to 'Edit', edit_signature_path(@signature) %><span style="font-size:20px; margin-left:5px;"> </div>

<div style="margin:10px; margin-left:5px; float:left;">   <%= link_to 'Delete', @signature, method: :delete, data: { confirm: 'Are you sure?' } %></div>



